.titleCards {
    margin-top: 50px;
    margin-bottom: 30px;
}

.titleCards h2 {
    margin-bottom: 8px;
}

.cardList {
    display: flex;
    overflow-x: scroll;
    gap: 10px;
}

.cardList::-webkit-scrollbar {
    display: none;
}

.cardList img {
    width: 240px;
    border-radius: 4px;
    cursor: pointer;;
}

.cardList .card {
    position: relative;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}
.cardList .card:hover {
    transform: scale(1.05);
    background-image: rgb 0, 0, 0, .75;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); 
    z-index: 1;
    border-radius: 4px;
}

.cardList .card p {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}