.navbar {
    width: 100%;
    padding: 15px 6%;
    position: fixed;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 10%, transparent);
    z-index: 1;
}

.navbarLeft {
    display: flex;
    gap: 50px;
    align-items: center;
}

.navbarLeft ul {
    display: flex;  
    gap: 20px;
    list-style: none;
    font-size: 16px;
}

.navbarLeft ul li {
    cursor: pointer;
}

.navbarLeft img {
    width: 190px;
    height: 100px;
    object-fit: cover;
    background: transparent;
}

.navbarRight {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbarRight .icons{
    width: 20px;
    cursor: pointer;
}

.navbarRight .profile{
    width: 35px;
    border-radius: 4px;
}

.navbarProfile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.navbarProfile:hover .dropdown{
    display: block;
}

.navbar .dropdown {
    top: 100%;
    right: 0;
    width: max-content;
    padding: 18px 22px;
    background: #191919;
    border-radius: 2px;
    position: absolute;
    text-decoration: underline;
    z-index: 1;
    display: none;
}

.navbar .dropdown p {
    font-size: 13px;
    cursor: pointer;
}

.navDark {
    background-color: #141414;
}

@media (max-width: 800px) {
    .navbar {
        padding: 20px 5%;
    }
    .navbarLeft ul{
        display: none;
    }
    .navbar img {
        height: 40px;
    }
    .navbarLeft img {
        height: 50px;
    }
}

@media (max-width: 500px) {
    .navbar {
        padding: 20px 7%;
    }
    .navbar img {
        height: 40px;
    }
    .navbarLeft img {
        height: 50px;
    }
    .navbarRight {
        gap: 10px;
    }
}