.footer {
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.footerLeft {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footerLeft h2 {
    font-size: 32px;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.footerLeft p{
    font-size: 20px;
}

.footerRight {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.footerRight h3{
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.footerRight ul {
    list-style: none;
}

.footerRight ul a{
    text-decoration: none;
    color:white;
}
.footerRight ul a:hover{
    text-decoration: none;
    color:blue;
}